

.sub_wrap img{display: block; margin:0 auto; max-width: 100%;}
.sub_wrap p{font-size: 18px; line-height: 1.7; word-break: keep-all;}

.sub_0101{display: flex; justify-content: space-between; align-items: center;}
.sub_0101>div{width: 48%;}
.sub_0101 .img img{border-radius: 25px;}
.sub_0101 .txt h1{font-size: 20px; color: #0033cc; margin-bottom:20px;}
.sub_0101 .txt h2{font-size: 48px; padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid #ddd; line-height: 1;}

.sub_0201 .title{margin-bottom: 30px;}
.sub_0201 .title h1{font-size: 24px; padding-left: 20px; position: relative;}
.sub_0201 .title h1::before{width: 7px; height: 7px; border-radius: 50%; background-color: #0033cc; content: ''; position: absolute; left: 0; top: 10px;}
.sub_0201 .cont+.cont{margin-top: 70px;}
.sub_0201 .cont table{width: 100%; border-collapse: collapse; border: 1px solid #ddd; border-top: 2px solid #0033cc;}
.sub_0201 .cont table th{font-size: 17px; padding: 20px; border: 1px solid #ddd; word-break: keep-all; background-color: #f8f8f8; line-height: 1.5;}
.sub_0201 .cont table td{font-size: 17px; padding: 20px; border: 1px solid #ddd; word-break: keep-all; line-height: 1.5;}
.sub_0201 .cont table td li{position: relative; padding-left: 15px; word-break: keep-all; line-height: 1.5;}
.sub_0201 .cont table td li::before{width: 5px; height: 5px; background-color: #0033cc; content: ''; border-radius: 50%; position: absolute; left: 0; top: 10px;}
.sub_0201 .cont table td li+li{margin-top: 10px;}
.sub_0201 .cont table td .num_list{padding-left: 20px;}
.sub_0201 .cont table td .num_list li{list-style-type: decimal; padding-left: 0;}
.sub_0201 .cont table td .num_list li::before{display: none;}
.sub_0201 .cont table td .mini_table{border-top: 1px solid #ddd;}
.sub_0201 .cont table td .mini_table th{font-size: 15px; padding: 10px;}
.sub_0201 .cont table td .mini_table td{text-align: center; font-size: 15px; padding: 10px;}
.sub_0201 .cont table td .mini_table td li{text-align: left;}
.sub_0201 .cont table td .mini_table td li::before{width: 4px; height: 4px; top: 8px;}
.sub_0201 .cont table td li dl{margin-top: 5px;}
.sub_0201 .cont table td li dl dd{position: relative; padding-left: 15px;}
.sub_0201 .cont table td li dl dd::before{width: 6px; height: 1px; background-color: #000; content: ''; position: absolute; left: 0; top: 11px;}

.sub_0201 .cont02 ul li{position: relative; padding-left: 15px; word-break: keep-all; line-height: 1.5; font-size: 17px;}
.sub_0201 .cont02 ul li::before{width: 6px; height: 1px; background-color: #000; content: ''; border-radius: 50%; position: absolute; left: 0; top: 10px;}
.sub_0201 .cont02 ul li+li{margin-top: 10px;}


@media(max-width:970px){

    .sub_wrap p{font-size: 16px;}

    .sub_0101{flex-direction: column;}
    .sub_0101>div{width: 100%;}
    .sub_0101 .txt{margin-top: 20px;}
    .sub_0101 .txt h1{font-size: 18px; margin-bottom:10px;}
    .sub_0101 .txt h2{font-size: 23px; padding-bottom: 15px; margin-bottom: 15px;}

    .sub_0201 .title h1{font-size: 19px; line-height: 1.4; padding-left: 15px;}
    .sub_0201 .title h1::before{width: 6px; height: 6px; }
    .sub_0201 .cont{display: block; width: 100%; overflow-x: auto;}
    .sub_0201 .cont table th{font-size: 15px; padding: 10px 7px;}
    .sub_0201 .cont table td{font-size: 15px; padding: 10px 7px;}
    .sub_0201 .cont table td .mini_table th{padding: 10px 7px;}
    .sub_0201 .cont table td .mini_table td{padding: 10px 7px;}
    .sub_0201 .cont02 ul li{font-size: 16px;}
}