@charset "utf-8";
/*#groupmenu{box-sizing: border-box;border-bottom: 1px solid #bbb;}
#groupmenu ul{display: flex;flex-direction: row;justify-content: center;flex-wrap: wrap;max-width: 1400px;margin: 0 auto;}
#groupmenu ul li{width: 15%;}
#groupmenu ul li a{height: 60px;line-height: 60px;text-align: center;font-size: 16px;display: block;}
#groupmenu ul li.on a{background: #0e78bd;color: #fff;}

@media screen and (max-width:1100px){
	#groupmenu ul li a{font-size: 14px;}
}*/